.admin-wrapper {
  padding: 20px 0;
  background: #f4f6f9;
  min-height: 100vh;
}

.admin-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.admin-card {
  background: #fff;
  padding: 24px 28px;
  border-radius: 14px;
  border: 1px solid #eaeaea;
  transition: 0.25s;
}

.admin-card:hover {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.06);
  transform: translateY(-2px);
}

.admin-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.admin-title {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.admin-more {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.admin-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.admin-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.admin-item {
  padding: 18px;
  border-radius: 12px;
  background: #fafafa;
  border: 1px solid #dddddd;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.25s;
}

.admin-item:hover {
  background: #ffffff;
  border-color: #d70018;
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(215, 0, 24, 0.08);
}

.admin-item span {
  font-size: 17px;
  color: #111;
  font-weight: 600;
}

/* event box */
.admin-event {
  padding: 14px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.admin-event h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.admin-event p {
  font-size: 14px;
  color: #444;
}

.admin-event:hover {
  background: #f8f8f8;
}
